* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, red, green);
    min-height: 100vh;
    font-family: sans-serif;
}

header, footer {
    background-color: rgba(255, 255, 255, 0.2); /* ou transparent */
    text-align: center;
    padding: 1rem;
}

#menu-inicial {
    background: rgba(255,255,255,0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px #00000088;
    width: fit-content;
    margin: 50px auto;
    text-align: center;
}

#menu-inicial button {
    margin: 1rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: #009e3b;
    color: white;
    transition: background 0.3s;
}

#menu-inicial button:hover {
    background: #007c2a;
}



section {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin: 2rem 0;
}

button.casa {
    width: 100px;
    height: 100px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10%;
}

button {
    background: rgba(134, 132, 132, 0.938);
    transition: background 0.3s ease-in-out, transform 0.2s;
}

button:hover {
    background: rgba(236, 234, 234, 0.6);
    transform: scale(1.05); /* dá um leve zoom ao passar o mouse */
}
